page-cart {

}

.fixedOrder {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.center-title {
  text-align: center;
}

.center-content {
  text-align: center;
}

.margin-top {
  margin-top: 20px !important;
}

.size-picture {
  width: 70%;
  margin: 15px;
}

.content-flex {
  display: flex;
}

.separator {
  border-bottom: 1px solid #cccccc;
  margin: 5px auto 5px 5px;
}

.marginLast {
  margin-bottom: 40px;
}
